body{
    border: 1px solid black;
    height: 100vh;
    padding: 10px 10px 0 10px;
}

.container {
    position: relative;
    height: 100vh;
    border-radius: 20px;
    background-image: url(assets/4842432.jpg);
}